#header-site {
  background-image: url("../assets/images/background.webp");
  background-size: cover;
  background-position: center;
}

body {
  background-color: #e3fdfd;
}

button > a {
  text-decoration: none;
  color: inherit;
}

.font-sm {
  font-size: 0.8rem;
}

.justify-text {
  text-align: justify;
}

.navbar {
  background-color: #023859;
  color: #e3fdfd;
}

#footer {
  background-color: #023859;
  color: #e3fdfd;
}

#navbarNavDropdown ul li a {
  color: #e3fdfd;
}

#header-site-color {
  color: #e3fdfd;
}

